*{
  margin:0;
  padding:0;
  list-style:none;
}

//漸層寫法linear-gradient(0deg,#color1,#color2)
//多重背景寫法background
.banner{
  width: 100%;
  // height:100vh;
  height:700px;
  // background:#cccc;
  background:linear-gradient(115deg,#7bf 50%,transparent 50%) center center / 100% 100%,
			url("https://picsum.photos/1200/600/?blur") right center /auto 100%;
  .container{
    height: 100%;
    width:100%;
    max-width:1440px;
    margin:0 auto;
  }
  .banner-text{
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    h1{
      font-size: 80px;
      border-bottom:1px solid #333;
      padding-bottom: 20px;
      margin-bottom:20px;
    }
    small{
      display: block;
      font-size: 40px;
    }
    h2{
      font-size: 30px;
    }
    p{
      font-size: 20px;
    }
  }
}

//menu
.menu{
  background-color: #fa0;
  font-size: 0;
  text-align: center;
  a{
    text-decoration: none;
    color:#fff;
    font-size: 20px;
    padding:10px 20px;
    // background:red;
    display: inline-block;
    &:hover{
      background-color:#000;
    }
  }
}
